.skinBody {
  background: linear-gradient(rgb(255, 220, 65), rgb(199, 137, 2));
  background-attachment: fixed;
  width: 100%;
  height: auto;
  float: left;
}

.skinBody2 {
  background: url('/bubble1.png') repeat 0 0;
  width: 100%;
  height: auto;
  float: left;
}

.skinBody3 {
  background: url('/bubble2.png') repeat 0 0;
  width: 100%;
  height: auto;
  float: left;
}

.skinFrame {
  background: url('/bubble3.png') repeat 0 0;
  width: 100%;
  height: auto;
  float: left;
}