.loader {
  position: fixed;
  display: none;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

.cv-spinner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 10vw;
  min-width: 50px;
  max-width: 70px;
  height: 10vw;
  min-height: 50px;
  max-height: 70px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

.loader_message {
  padding-top: 1vh;
  font-size: 5vw;
  @media screen and (min-width:780px) {
    font-size: 30px;
  }
}

