// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  height: 5%;
  background-color: rgb(249, 196, 9);
}

main  {
  height: 95%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}
