@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "./maps";
@import "./checkbox";
@import "./selectbox";
@import "./radiobutton";
@import "./accordion";
@import "./about";
@import "./bubble";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}